.main.center
  .lanes
    - each @lanes, (lane) ->
      .lane
        .number= lane
  
  .cards.center
    - each @cards, (card) ->
      .card
        .number= card
        - on "click", ->
          - console.log card
